<h1>Editing Invoice</h1>

<%= render 'form', invoice: @invoice %>

<%= link_to 'Show', @invoice %> |
<% cust = params[:cust_id] %>
<%customer = Customer.find(cust) %>
<%= link_to 'Back', showcar_customer_path(customer) %>
