<h1> Herbie's Auto Shop </h1>

<%= link_to 'Cars', cars_path %>
<br>
<%= link_to 'Customers', customers_path %>
<br>
<% if current_user.admin? %>
<%= link_to 'Employees', employees_path %>
<% end %>
